@model Presentation.Models.ViewModel.AlerteVM

@{
    ViewBag.Title = "Report diseases";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            <div class="form-group" style="display: none">
                @Html.LabelFor(model => model.NameDiseas, htmlAttributes: new {@class = "control-label col-md-2"}, labelText: "Choose Disease :")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NameDiseas, new {htmlAttributes = new {@class = "form-control", @placeholder = "Enter Name", @type = "text"}})
                    @Html.ValidationMessageFor(model => model.NameDiseas, "", new {@class = "text-danger"})
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 offset-2">
                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow btn-block m-dropdown--align-center m-dropdown--huge" m-dropdown-toggle="hover" aria-expanded="true" m-dropdown-persistent="1">
                    <a class="m-dropdown__toggle btn dropdown-toggle btn-lg btn-outline-brand" href="#" id="selected" style="width: 100%">Choose Disease</a>
                    <div class="m-dropdown__wrapper" style="z-index: 101;">
                        <span class="m-dropdown__arrow m-dropdown__arrow--left">

                        </span>
                        <div class="m-dropdown__inner">
                            <div class="m-dropdown__body">
                                <div class="m-dropdown__content">
                                    <ul class="m-nav">
                                        <li class="m-nav__section m-nav__section--first">
                                            <span class="m-nav__section-text">Diseases</span>
                                        </li>
                                        @{

                                            foreach (var x in Model.AllDisease)
                                            {
                                                <li class="m-nav__item diseasitem">
                                                    <a class="m-nav__link" href="#">
                                                        @x.Name
                                                    </a>
                                                </li>
                                            }
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2">

                <input type="submit" value="Alert" class="btn  m-btn--air btn-lg btn-danger btn-block"/>
            </div>
        </div>
        <div class="row">
            @{
                int i = 0;
                foreach (var diseas in Model.AllDisease)
                {
                    <div id="@i" style="display: none" class="col-md-12 myblocks">
                        @Html.Partial("_DisplayInformation", diseas)
                    </div>
                    i++;
                }
            }
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function() {
            $(".diseasitem").click(function() {
                var index = $('.diseasitem').index($(this));
                $('#namediseas option').removeAttr('selected');
                $('#namediseas option[value=' + index + ']').attr('selected', 'selected');
                $("#NameDiseas").val($(this).text());
                $(".myblocks").css("display", "none");
                $("#selected").html($(this).text());
                $("#" + index).css("display", "block");
            })
        })

    </script>
}