@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="m-nav__item">
        <a id="registerLink" class="m-nav__link" href="@Url.Action("Index", "Manage", routeValues: null)" title="Manage">
            <span class="m-nav__link-icon">@User.Identity.GetUserName()</span>
        </a>
    </li>
    <li class="m-nav__item">
        <a id="registerLink" class="m-nav__link" href="javascript:document.getElementById('logoutForm').submit()" title="Manage">
            <span class="m-nav__link-icon">Logoff</span>
        </a>
    </li>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
     {
         @Html.AntiForgeryToken()
     }
}
else
{
    <li class="m-nav__item">
        <a id="registerLink" class="m-nav__link" href="@Url.Action("Register", "Account", routeValues: null)">
            <span class="m-nav__link-icon">Register</span>
        </a>
    </li>
    <li class="m-nav__item">
        <a id="loginLink" class="m-nav__link" href="@Url.Action("Login", "Account", routeValues: null)">
            <span class="m-nav__link-icon">Login</span>
        </a>
     </li>

}
